<!doctype html>
<html lang="en">
  <head>
    <title>Тестовое задание от MyBook</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-fluid p-0">
        <div class="d-flex flex-column align-items-center bg-light">
            <h3 class="pt-2">Аутентификация</h3>
            <form id="auth_form" class="d-flex flex-column p-3 mx-auto w-50">
                <input type="email" class="form-control my-2"
                    id="user_email" placeholder="E-mail" required>

                <input type="password" class="form-control mb-2"
                    id="user_password" placeholder="Пароль" required>

                <button id="submit_button" type="submit"
                    class="btn btn-primary border-0 my-2 px-4 mx-auto">
                    Войти
                </button>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
