<!doctype html>
<html lang="en">
  <head>
    <title>Тестовое задание от MyBook</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        #auth_form #submit_button{
            background-color: #e44b03;
        }
        #auth_form #submit_button:hover{
            background-color: #ff8100;
        }
    </style>
  </head>
  <body>
    <div class="container-fluid p-0">
        <div class="d-flex flex-column align-items-center bg-light" id="auth_form_wrapper">
            <h3 class="pt-2">Аутентификация</h3>
            <form id="auth_form" class="d-flex flex-column p-3 mx-auto w-50"
                action="{% url 'auth_user'%}" method="post">
                {% csrf_token %}
                <input type="email" class="form-control my-2" name="email"
                    id="user_email" placeholder="E-mail" required>

                <input type="password" class="form-control mb-2" name="password"
                    id="user_password" placeholder="Пароль" required>

                <button id="submit_button" type="submit"
                    class="btn btn-primary border-0 my-2 px-4 mx-auto">
                    Войти
                </button>
            </form>
        </div>
        <div class="bg-light border-top" id="books_container">
            <template id="book_template">
                <div class="media m-3 w-75">
                    <img class="book_cover_img" alt="Book cover">
                    <div class="media-body text-left pl-3">
                        <h4 class="book_name font-weight-normal"></h4>
                        <h5 class="book_authors lead"></h5>
                    </div>
                </div>
            </template>

            <h3 class="mt-3 text-center">Книги пользователя</h3>
            <div id="user_books" class="d-flex flex-column align-items-center p-3">
                <h5 class="text-center lead">Войдите в свою учетную запись для отображения книг</h5>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js"></script>
    <script>
        let book_template = document.getElementById("book_template").content;
        let books_container = document.getElementById("user_books");

        let image_url_prefix = "https://i1.mybook.io/c/124x196/"

        display_user_books = (books) => {
            for (let book_item of books){
                let book = book_item.book;

                let book_name = book.name;
                let book_cover_url = book.default_cover;
                let book_authors = book.authors_names;

                let image_url = image_url_prefix + book_cover_url;
                book_template.querySelector(".book_cover_img").src = image_url;

                book_template.querySelector(".book_name").textContent = book_name;
                book_template.querySelector(".book_authors").textContent = book_authors;

                books_container.appendChild(book_template.cloneNode(true));
            }
        }

        get_user_books = () => {
            $(books_container).empty();

            $.get("/user_books/", async (response) => {
                let json_data = JSON.parse(JSON.stringify(response));

                let books = json_data.objects;
                let metadata = json_data.meta;
                let next_page_url = metadata.next;

                display_user_books(books);

                while (next_page_url != null) {
                    await fetch("/next_page/", {
                        headers: {
                            "X-Next-Page-Url": next_page_url
                        }
                    })
                    .then((data) => {
                        data.body.locked = false;

                        let json = data.json();

                        return json;
                    })
                    .then((json) => {
                        books = json.objects;
                        metadata = json.meta;
                        next_page_url = metadata.next;

                        display_user_books(books);
                    });
                }

            }, "json");
        }

        auth_user = (auth_data) => {
            $.post("/auth/", auth_data, () => {
                get_user_books();
            });
        }

        $("#auth_form").on('submit', function (event) {
            this.checkValidity();
            event.preventDefault();

            const auth_form_data = $(this).serialize();

            auth_user(auth_form_data);
        });

        $(document).ready(() => {
            let session_cookie = Cookies.get("session");

            if (session_cookie === undefined) {
                $.noop();
            }
            else {
                $("#auth_form_wrapper").remove();
                get_user_books();
            }
        });
    </script>
  </body>
</html>
